/* datepicker.css */
.react-datepicker {
  background-color: theme('colors.gray.100');
  border: 1px solid theme('colors.gray.300');
  border-radius: theme('borderRadius.lg');
  box-shadow: theme('boxShadow.lg');
}

.react-datepicker__header {
  background-color: theme('colors.gray.200');
  border-bottom: 1px solid theme('colors.gray.300');
}

.react-datepicker__day--selected {
  background-color: theme('colors.blue.500');
  color: theme('colors.white');
}

.react-datepicker__day:hover {
  background-color: theme('colors.blue.100');
}