@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-background-secondary: #f4f4f5;
  --color-font: #1f2937;
  --color-font-secondary: #94979a;
  --color-primary: #da584b;
  --color-primary-hover: #da584b33;
  --color-accent: #37393d;
  --color-accent-hover: #94979a;
  --color-secondary: #70b252;
  --color-tertiary: #70b252;
}

.dark {
  --color-background: #222528;
  --color-background-secondary: #2c2f33;
  --color-font: #ffffff;
  --color-font-secondary: #94979a;
  --color-primary: #da584b;
  --color-primary-hover: #da584b1a;
  --color-accent: #37393d;
  --color-accent-hover: #94979a;
  --color-secondary: #70b252;
  --color-tertiary: #70b252;
}
