@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
--color-background: #f5f6f7;
--color-background-secondary: #d7d9dc;
--color-background-modal: #ffffff;
--color-modal-card: #f2f3f5;
--color-modal-card-mobile: #f0f1f3;
--color-modal-dropdown-mobile: #ffffff;
--color-font: #1c1e21;
--color-font-secondary: #5a5d61;
--color-button: #ffffff;
--color-primary: #da584b;
--color-primary-hover: #c64638;
--color-accent: #dfe2e6;
--color-accent-hover: #5a5d61;
--color-secondary: #70b252;
--color-tertiary: #e5b454;
--color-tag-blue: #5265b2;
--color-tag-purple: #a154e5;

}

.dark {
  --color-background: #222528;
  --color-background-secondary: #2c2f33;
  --color-background-modal: #393d41;
  --color-modal-card: #42464a;
  --color-modal-card-mobile: #2e3033;
  --color-modal-dropdown-mobile: #393d41;
  --color-font: #ffffff;
  --color-font-secondary: #94979a;
  --color-button: #ffffff;
  --color-primary: #da584b;
  --color-primary-hover: #c64638;
  --color-accent: #37393d;
  --color-accent-hover: #94979a;
  --color-secondary: #70b252;
  --color-tertiary: #e5b454;
  --color-tag-blue: #5265b2;
  --color-tag-purple: #a154e5;
}
